<% content_for("page_header") do %>
 <%= stylesheet_link_tag 'application.css' %>
<% end %>


<div class="start">
		<div>OPPONENT IS READY!</div>	
		<div>ARE YOU READY ?</div>
		<div>
	        <form action="/choix" method="get">	
			    <input class="start-btn" type="submit" value="YES GO!">  
		    </form>
		</div>
</div>


