 <div class="navbar">
 	<div>
	       <button type="button" class="btn btn-danger">_____OPPONENT READY!_____</button>
	    </form>
	</div>
	<div><h1>Versus</h1></div>
	<div>
        <form action="/personas" method="post">	
		    <input class="btn btn-warning" type="submit" value="_____YOU_____">       
	    </form>
	</div>
</div>


