<div >
 	<div>
	       <div class="start">OPPONENT IS READY!</bdiv>
	</div>
	
	<div>
		<div class="start">ARE YOU READY ?</div>
        <form action="/personas" method="post">	
		    <input class="start-btn" type="submit" value="YES GO!">  
	    </form>
	</div>
</div>


