<% content_for("page_header") do %>
 <%= stylesheet_link_tag 'application.css' %>
<% end %>


<div >
 
	
	<div>
	<div>
	    <div class="start">OPPONENT IS READY!</bdiv>
	</div>
		<div class="start">ARE YOU READY ?</div>
        <form action="/choix" method="get">	
		    <input class="start-btn" type="submit" value="YES GO!">  
	    </form>
	</div>
</div>


