<% content_for("page_header") do %>
 <%= stylesheet_link_tag 'application.css' %>
<% end %>


<div class="head">
  <%= render "layouts/topbanniere" %>
</div>

<div class="joystick">	  
  <button type="button" class="cool">FIGHT!___COOL____________/</button>
  <button type="button" class="hard">FIGHT!___HARD____________/</button>
</div>


<div class="arena">
	<%n=2%>
	<div>	
		<%= render "layouts/persos/perso#{rand(21..31)}g" %>
		<% n-=1 %>
	</div>
	<% c = rand(0..30)%>
	<div ><h1
		<% if c < 10 %>
			style="font-size: 10em"
		<% elsif c > 10 && c > 20 %>
			style="font-size: 30em"
		<% else %>
			style="font-size: 50em"
		<%end%> >VS</h1></div>
	<div>	
		<%= render "layouts/persos/perso#{rand(11..16)}d" %>
	</div>
</div>


