<div class="start">
  <form action="/personas/new" method="get">
    <input class="start-btn" type="submit" value="RESTART" >  
  </form>
</div>
<div id="result">YOU LOOSE</div>
<div class="reporting">
	<% Report.all.each do |r| %>
	<%= r.decription %>
	<br>
	<% end %>
</div>