<div class="name">
	<%= form_for @persona do |f| %>

	<div>
		<label>Your Name</label>
		<%= f.text_field :name , :size => 20 %>
	</div>

	<div>
		<button type="submit">ok or change</button>
	</div>

	<% end %>
</div>