<div class="start">
	<%= form_for @persona do |f| %>
	<div>YOUR NAME</div>

	<div>
		<%= f.text_field :name , :size => 30 %>
	</div>

	<div>
		<button type="submit">ok or change</button>
	</div>

	<% end %>
</div>