<% content_for("page_header") do %>
 <%= stylesheet_link_tag 'application.css' %>
<% end %>

<div id="win"><p>YOU WIN</p></div>
<div class="banniere">
  <form action="/personas/new" method="get">
    <input class="start-btn" type="submit" value="RESTART" >  
  </form>
</div>
