@font-face {
  font-family: 'GoodBrush';
  src: url(../police/Good Brush.otf) format("otf"), url(../police/Good Brush.ttf) format("ttf"), url(../police/Good Brush.woff) format("woff"); }

body {
    background-color: #000;
    display: flex;
    flex-direction: row
}

#container {
	background-color: #FFF;
    width: 100%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.choix{
    background-color: #000;
    display: flex;
    flex-direction: row;
    text-align: center;
}
 .inst{ 	
    text-align: center;
	font-size: 9em;	    
 }
.start-btn {
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;	
	font-family: 'GoodBrush';
	text-shadow: 4px 4px 0px red;
	font-size: 5em;
}

.btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #FFC;

}

.start{
	font-family: 'GoodBrush';
	text-shadow: 4px 4px 0px red;
	font-size: 5em;	
	background-color: #FFC;
	text-align: center;

}
h2 {
	color: #000;
	font-size: 3em;
	font-family: 'GoodBrush';
	text-align: center;
	text-shadow: 4px 2px 0px red;
}
h1{
	color: #FFF;
}

.arena {
	display: flex;
	flex-direction: row;
	justify-content: center; 
}

.separator {
	background-color: white;
}
.banniere {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.joystick {	
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.cool {
	background-color: green;
	font-color: yellow;
	font-size: 2em;	
	color: yellow;
}
.hard {
	background-color: red;
	font-color: yellow;
	font-size: 2em;
	color: yellow;
}

#loose {
	background-color: red;
	height: 100%;
	font-size: 250px;
	text-align: center;
}

#win {
	background-color: green;
	height: 100%;
	font-size: 250px;
	text-align: center;
}
