@font-face {
  font-family: 'GoodBrush';
  src: url(../police/Good Brush.otf) format("otf"), url(../police/Good Brush.ttf) format("ttf"), url(../police/Good Brush.woff) format("woff"); }

body {
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    position : relative;
}

#container {
    color: #FFF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #FFC;	

}

h2 {
	color: #000;
	font-size: 3em;
	font-family: 'GoodBrush';
	text-align: center;
	text-shadow: 4px 2px 0px red;
}

.arena {
	display: flex;
	flex-direction: row;
	justify-content: center; 
}

.banniere {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.joystick {	
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.cool {
	background-color: green;
	font-color: yellow;
	font-size: 2em;	
	color: yellow;
}
.hard {
	background-color: red;
	font-color: yellow;
	font-size: 2em;
	color: yellow;
}