body {
	margin: 0 auto;
    background-color: #000;
    display: flex;
    flex-direction: row
}

#container {
	background-color: #FFF;
	position: relative;
	width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.choix{
	height: 30%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

 .inst{ 
	font-size: 5em;
    text-align: right;  
 }

.start-btn {
	margin: auto;
	text-shadow: 4px 4px 0px red;
	font-size: 5em;
}

.btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #000;

}

.start{
	background-color: #000;
	font-color: red;
}

h2 {
	color: #000;
	font-size: 3em;
	text-align: center;
	text-shadow: 4px 2px 0px red;
}
h1{
	color: #FFF;
}

.arena {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center; 
}

.separator {
	background-color: white;
}
.banniere {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.joystick {	
	display: block;
	flex-direction: row;
	justify-content: right;
}

.cool {
	background-color: green;
	font-color: yellow;
	font-size: 2em;	
	color: yellow;
}
.hard {
	background-color: red;
	font-color: yellow;
	font-size: 2em;
	color: yellow;
}

#loose {
	background-color: red;
	height: 100%;
	font-size: 50px;
	text-align: center;
}

#win {
	background-color: green;
	height: 100%;
	font-size: 50px;
	text-align: center;
}

.flux{
   height: 200px;
   background-color: #000;
   font-color: #FFF;

}

.name {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 5em;
	align-content: center;
}

.reporting {
	font-size: 1em;
	text-align: right;
}