 <div class="navbar">
 	
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
      <button type="button" class="btn btn-warning">!</button>
  <h1>FIGHT!FIGHT!FIGHT!FIGHT!FIGHT!FIGHT!FIGHT!FIGHT!FIGHT!FIGHT!FIGHT!FIGHT!FIGHT!FIGHT!FIGHT!FIGHT!FIGHT!</h1>
</div>